body{
    padding: 0;
    margin: 0;
}
/* header for css */
.header-section{
    background-image: url(../images/slider-bg.jpg);
    width: auto;
    height: 100vh;
}
 .headerContainer{
    display: flex;
    color: white;
    justify-content: space-between;
    /* border: 2px solid red; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
 }
 .header-icon{
    font-size: 30px;
    background-color: white;
    color: black;
    padding: 15px 20px;
    border-radius: 50%;
 }
 .header-title h1{
    font-size: 45px;
 }
 .header-title{
    color: white;
    /* border: 2px solid green; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 80px 95px;
    width: 38vw;
    height: 55vh;
 }
 .btn:hover{
   background-color: rgb(207, 98, 9);
   color: white;
 }
 .btn{
    margin: 25px 0px;
    padding: 15px 45px;
    color: rgb(207, 98, 9);
    border-radius: 5px;
    background-color: inherit;
    border: 2px solid rgb(207, 98, 9);
 }
 /* banner for css */
 .banner-section{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 90vw;
    margin: auto;
    gap: 20px;
 }
  
 .banner-card{
    width: 50vw;
    height:50vh;
    /* border: 3px solid green; */
 }
 .banner-card img{
    /* border: 3px solid green; */
    /* padding: 40px; */
    margin: 40px;
    width:12vw;
    height: 27vh;
 }
 .sec-bnr{
    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin: auto;
    gap: 20px;
 }
 .cr-bnr img{
    /* border: 3px solid green; */
    /* padding: 40px; */
    margin: 40px;
    width:12vw;
    height: 27vh;
 }
 .cr-bnr{
    width: 23vw;
    height:50vh;
    /* border: 3px solid green; */
 }
 .price-1{
    display: flex;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-around;
 }
 .price-two :last-child{
    color:rgb(207, 98, 9) ;
 }
 .price{
    display: flex;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-around;
 }
 .price-one:last-child{
    color:rgb(207, 98, 9) ;
 }
 /* about for css */
 .about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }
 .about-image img{
    width: 35vw;
 }
 .about-title h2{
    font-size: 40px;
 }
 .about-title{
    width: 35vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px 0px;
 }
 .upto-section{
    /* border: 2px solid red; */
    width: 90vw;
    padding: 40px 30px;
    height: 69vh;
    margin: auto;
   
 }
 .upto-image img{
    width: 50vw;
 }
 .upto-cart2 img{
    width: 35vw;
 }
 .upto-card{
    display: flex;
    gap: 20px;
 }
 .from-sec{
    display: flex;
    justify-content: center;
    gap: 20px;
 }
 .from{
    text-align: center;
    margin: 40px 0px;
    font-size: 25px;
 }
 .from-cart img{
    width: 40vw;
 }
 .from-cart h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
 }
 .from-cart{
    /* border: 2px solid red; */
    width: 40vw;
    font-family: sans-serif;
    height: auto;
 }
 .from-btn{
    padding: 15px 35px;
    border: 1px solid black;
 }
 .from-btn:hover{
    background-color:rgb(218, 106, 14);
    color: white;
    border: none;
 }
 .testi-sec{
    text-align: center;
    margin: 60px 0px;
 }
 .textimonial img{
    border: 6px solid rgb(56, 55, 55);
    border-radius: 50%;
    width: 15%;
 }
 .textimonial h2{
   font-size: 25px;
   color: rgb(218, 106, 14) ;
   font-family: sans-serif;
 }
 .textimonial{
    border: 2px solid rgb(20, 1, 1);
    border-radius: 15px;
    background-color: rgb(20, 1, 1);
    color: white;
    text-align: center;
    width: 60vw;
    height: auto;
    margin: auto;
 }
 .arrow{
  /* border: 2px solid green; */
  padding: 15px;
  color: white;
  border-radius: 5px;
  background-color:rgb(214, 146, 89) ;
 }
 .testimonial-arrow{
   justify-content: center;
   margin: 30px 0px;
   gap: 15px;
   /* border: 2px solid red; */
   display: flex;
 }
 /* footer section star */

 .footer-box{
   background-color: white;
 }
 .footer-section{
   background-color: rgb(20, 1, 1);
   color: white;
   margin: 40px 0px;
   padding: 40px 0px;
 }
.section{
   display: flex;

   font-family: sans-serif;
   font-size: 20px;
   justify-content: space-around;
   align-items: center;
}
.sec-box h4{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sec-box{
   width: 20vw;
   height: auto;
   text-align: center;
}
.footer-sec{
   justify-content: center;
   display: flex;
   gap: 20px;
}
 .footer-icon{
   display: flex;
   gap: 10px;
   
 }
 .icon{
   padding: 20px;
   border: 2px solid white;
 }
 .footer-cart{
   display: flex;
   width: 20vw;
   gap: 10px;
   padding: 0px;
   margin: 0px;
 }
 .footer-cart img{
   width: 60px;
   height: 45px;
   background-color: white;
   padding: 5px;
 }

 /* responsive for css */

 @media screen and (max-width: 768px){
   .header-title{
      margin:  50px auto;
      width: 75vw;
      height: 55vh;
   }

   .banner-section{
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 90vw;
      margin: auto;
      gap: 20px;
   }
   .banner-card{
      width: 55vw;
      margin: auto;
      height:50vh;
   }
   .sec-bnr{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-around;
      width: 90vw;
      margin: auto;
      gap: 20px;
   }
   .cr-bnr{
      width: 50vw;
      margin: auto;
      height:50vh;
   }
   
   .about-section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
   }
   .about-image img{
      width: 60vw;
   }
   .about-title{
      width: 70vw;
      margin: auto;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 50px 0px;
   }
   .from-sec{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
   }
   .from-cart img{
      width: 70vw;
   }
   .from-cart{
      width: 70vw;
      margin: auto;
      font-family: sans-serif;
      height: auto;
   }
   .footer-sec{
      justify-content: center;
      display: flex;
      gap: 20px;
   }
   .section{
      display: flex;
      flex-direction: column;
      font-family: sans-serif;
      font-size: 20px;
      justify-content: space-around;
      align-items: center;
   }
   .sec-box{
      width: 50vw;
      height: auto;
      text-align: center;
   }
 }